{% extends 'common/base.html' %}


{% block content %}
<style>
    nav {
        display: none;
    }
</style>

<section class="min-h-screen flex">
    <!-- Coluna Esquerda (Formulário) -->
    <div class="w-full sm:w-3/6 bg-[#0D1C26] flex flex-col items-center justify-center">
        <form action="/register" method="POST" class="w-full flex justify-center">
            {% csrf_token %}
            <div class="flex flex-col items-center justify-center space-y-7 w-[80%]">
                <input type="text" name="nome" placeholder="Nome Completo" class="w-full h-12 px-4 bg-[#0D1C26] border-b-[#6B98BF] border-b-[1px] focus:border-b-2 text-[#6B98BF] placeholder-[#6B98BF] focus:outline-none font-['Ubuntu'] font-light">
                <input type="text" name="cpf" placeholder="CPF" class="w-full h-12 px-4 bg-[#0D1C26] border-b-[#6B98BF] border-b-[1px] focus:border-b-2 text-[#6B98BF] placeholder-[#6B98BF] focus:outline-none font-['Ubuntu'] font-light">
                <input type="date" name="data" placeholder="Data de Nascimento" class="w-full h-12 px-4 bg-[#0D1C26] border-b-[#6B98BF] border-b-[1px] focus:border-b-2 text-[#6B98BF] placeholder-[#6B98BF] focus:outline-none font-['Ubuntu'] font-light">
                <input type="text" name="telefone" placeholder="Telefone" class="w-full h-12 px-4 bg-[#0D1C26] border-b-[#6B98BF] border-b-[1px] focus:border-b-2 text-[#6B98BF] placeholder-[#6B98BF] focus:outline-none font-['Ubuntu'] font-light">
                <input type="text" name="endereco" placeholder="Endereço" class="w-full h-12 px-4 bg-[#0D1C26] border-b-[#6B98BF] border-b-[1px] focus:border-b-2 text-[#6B98BF] placeholder-[#6B98BF] focus:outline-none font-['Ubuntu'] font-light">
                <input type="text" name="pais" placeholder="País" class="w-full h-12 px-4 bg-[#0D1C26] border-b-[#6B98BF] border-b-[1px] focus:border-b-2 text-[#6B98BF] placeholder-[#6B98BF] focus:outline-none font-['Ubuntu'] font-light">
                <input type="text" name="cep" placeholder="CEP" class="w-full h-12 px-4 bg-[#0D1C26] border-b-[#6B98BF] border-b-[1px] focus:border-b-2 text-[#6B98BF] placeholder-[#6B98BF] focus:outline-none font-['Ubuntu'] font-light">
                <input name="username" type="text" placeholder="Usuário" class="w-full h-12 px-4 bg-[#0D1C26] border-b-[#6B98BF] border-b-[1px] focus:border-b-2 text-[#6B98BF] placeholder-[#6B98BF] focus:outline-none font-['Ubuntu'] font-light">
                <input name="password" type="password" placeholder="Senha" class="w-full h-12 px-4 bg-[#0D1C26] border-b-[#6B98BF] border-b-[1px] focus:border-b-2 text-[#6B98BF] placeholder-[#6B98BF] focus:outline-none font-['Ubuntu'] font-light">
                
                <select name="cidade" class="w-full h-12 px-4 bg-[#0D1C26] border-b-[#6B98BF] border-b-[1px] focus:border-b-2 text-[#6B98BF] placeholder-[#6B98BF] focus:outline-none font-['Ubuntu'] font-light">
                    <option disabled selected>Selecione sua cidade</option>
                    {% for cidade in cidades %}
                    <option value="{{ cidade.id }}"> {{ cidade.nome }} </option>
                    {% endfor %}
                </select>
                
                <select name="instituicao" class="w-full h-12 px-4 bg-[#0D1C26] border-b-[#6B98BF] border-b-[1px] focus:border-b-2 text-[#6B98BF] placeholder-[#6B98BF] focus:outline-none font-['Ubuntu'] font-light">
                    <option disabled selected>Selecione sua instituição</option>
                    {% for instituicao in instituicoes %}
                    <option value="{{ instituicao.id }}"> {{ instituicao.nome }} </option>
                    {% endfor %}
                </select>
                
                <select name="ocupacao" class="w-full h-12 px-4 bg-[#0D1C26] border-b-[#6B98BF] border-b-[1px] focus:border-b-2 text-[#6B98BF] placeholder-[#6B98BF] focus:outline-none font-['Ubuntu'] font-light">
                    <option disabled selected>Selecione sua ocupação</option>
                    {% for ocupacao in ocupacoes %}
                    <option value="{{ ocupacao.id }}"> {{ ocupacao.nome }} </option>
                    {% endfor %}
                </select>

                <button class="w-full sm:w-3/6 h-12 bg-[#6B98BF] text-[#0D1C26] font-['Teko'] text-lg hover:bg-[#5E88BF] mt-8">REGISTRAR</button>
            </div>
        </form>
    </div>

    <!-- Coluna Direita (Cor Diferente) -->
    <div class="w-full sm:w-3/6 bg-[#1C2D3B] hidden sm:block">
        <!-- Conteúdo adicional pode ser adicionado aqui, se necessário -->
    </div>
</section>



{% endblock %}